/*
 * presentation.css
 */

body {
    /*background-color: gray;*/
}

/*http://stackoverflow.com/questions/9994493/scale-image-to-fit-a-bounding-box*/
#fish {
/*
    max-width: 10%;
    max-height: 10%;
    transform: scale(10);
    transform-origin: top left;
*/
    min-width: 80%;
    height: auto;
}

/*********************************************************************/

table, th, td
{
   border: 1px solid black;
   border-collapse: collapse;
}

th.tabsep, td.tabsep
{
   border-left-width: 5px;
}

th
{
   text-align: center;
   vertical-align: top;
   padding: 5px;
   background-color: #778899;
   color: #f8f8ff;
}

td
{
   text-align: left;
   vertical-align: top;
   padding: 5px;
}

.number
{
   text-align: right;
}

.enum
{
   text-align: center;
}

/* Avoid over-sizing rendered text in table cells in FF. */
table p
{
   padding: 0px;
   margin: 0px;
}

.strike
{
   text-decoration: line-through;
}

/*********************************************************************/
/* ReST generated .. note:: message */

/* todo */

/* GRAY notes */
div.note
{
   margin: 20px;
   padding: 10px;
   margin-left: 50px;
   width: 80%;
   background-repeat: no-repeat;
   background-color: #cccccc;
   border: 4px solid #666666;
}

div.note p.admonition-title
{
   background-color: #333333;
   color: white;
   margin: 0px;
   padding: 10px;
   background-repeat: no-repeat;
   font-weight: bold;
   /*border: 4px solid #940000;*/
}


/* RED warnings */
div.warning
{
   margin: 20px;
   padding: 10px;
   margin-left: 50px;
   width: 80%;
   background-repeat: no-repeat;
   background-color: #cccccc;
   border: 4px solid #666666;
}

div.warning p.admonition-title
{
   color: white;
   background-color: #cc0033;

   margin: 0px;
   padding: 10px;
   background-repeat: no-repeat;
   font-weight: bold;
   /*border: 4px solid #940000;*/
}


/* YELLOW todo */
div.todo
{
   margin: 20px;
   padding: 10px;
   margin-left: 50px;
   width: 80%;
   background-repeat: no-repeat;
   background-color: #cccccc;
   border: 4px solid #666666;
}

div.todo p.admonition-title
{
   color: black;
   background-color: #ffff99;

   margin: 0px;
   padding: 10px;
   background-repeat: no-repeat;
   font-weight: bold;
   /*border: 4px solid #940000;*/
}


/* GREEN see-also */
div.seealso
{
   margin: 20px;
   padding: 10px;
   margin-left: 50px;
   width: 80%;
   background-repeat: no-repeat;
   background-color: #cccccc;
   border: 4px solid #666666;
}

div.seealso p.admonition-title
{
   color: white;
   background-color: #33cc66;

   margin: 0px;
   padding: 10px;
   background-repeat: no-repeat;
   font-weight: bold;
   /*border: 4px solid #940000;*/
}


/*********************************************************************/
/* ReST generated .. topic:: stuff */

/* BLUE topic */
div.topic
{
   margin: 20px;
   padding: 10px;
   margin-left: 50px;
   width: 80%;
   background-repeat: no-repeat;
   background-color: #cccccc;
   border: 4px solid #666666;
}

div.topic p.topic-title
{
   background-color: #0000cc;
   color: white;
   margin: 0px;
   padding: 10px;
   background-repeat: no-repeat;
   font-weight: bold;
   /*border: 4px solid #940000;*/
}

/*********************************************************************/
/* ReST generated .. sidebar:: stuff */

div.sidebar
{
   margin: 20px;
   padding: 10px;
   width: 45%;
   background-repeat: no-repeat;
   background-color: #cccccc;
   border: 4px solid #666666;
   float: right;
}

div.sidebar p.sidebar-title
{
   background-color: #0000cc;
   color: white;
   margin: 0px;
   padding: 10px;
   background-repeat: no-repeat;
   font-weight: bold;
   /*border: 4px solid #940000;*/
}

div.sidebar p.sidebar-subtitle
{
   background-color: #0033ff;
   color: white;
   margin: 0px;
   padding: 10px;
   background-repeat: no-repeat;
   font-weight: bold;
   /*border: 4px solid #940000;*/
}

/*********************************************************************/

#title {
    margin-top: 100px;
    margin-bottom: 200px;
}

h2 {
    margin-top: 100px;
    margin-bottom: 0px;
}

h3 {
    margin-top: 30px;
    font-size: smaller;
}

li {
    margin-top: 5px;
}

div.formula {
    font-size: 16pt;
}

/* attempt to decorate figures like output code */
div.figure img.output {
    background-color: #ffc;
    padding: 10px;
}

pre.code {
    background-color: #cdf;
}

pre.code.output {
    background-color: #ffc;
}

/**/
